---
/**
 * NavLogo Component
 * Displays the site logo with responsive text variants
 */
import websecLogo from "../../assets/websec-logo.png";
import { sanitizeBaseUrl } from "../../utils/pathUtils";

interface Props {
  baseUrl: string;
}

const { baseUrl } = Astro.props;
const safeBaseUrl = sanitizeBaseUrl(baseUrl);
---

<div class="navbar-logo">
  <a href={safeBaseUrl} class="logo">
    <div class="logo-container">
      <img src={websecLogo.src} alt="WEBSEC Logo" class="websec-logo" width="1000" height="267" />
    </div>
    <span class="logo-text logo-text-full">SQL Injection Knowledge Base</span>
    <span class="logo-text logo-text-short">SQL Injection KB</span>
  </a>
</div>
