---
interface Props {
  defaultTab?: string;
}

const { defaultTab } = Astro.props;
---

<div class="tabs" data-default-tab={defaultTab}>
  <ul class="tab-list" role="tablist">
    <slot name="tab-list" />
  </ul>

  <div class="tab-contents">
    <slot />
  </div>
</div>

<script>
  import "../scripts/tabs";
</script>
